extends layout

block content
  h1= title
  - var results = stu_results
  div.container-fluid 
    div.row 
        each item, index in results
            div.col-sm-4(onclick=`buy(${index})`) Student Name: #{item["Student_Name"]} <br> Student Class: #{item["Student_Class"]} <br> Student Rank: #{item["Student_Rank"]} <br> Student Age: #{item["Student_Age"]}<br> Student Number: #{item["Student_Number"]}

  script.
    function buy(index) {
      alert("You Selected student " + index)
    }